.token-icons {
  display: flex;
  padding-top: 2px;
}

.token-wrapper {
  z-index: 1;
}

.token-wrapper,
.token-skeleton {
  height: 31px;
  position: relative;
  width: 31px;
}

.token-skeleton {
  background: #1f1f23;
  border-radius: 50%;
  overflow: hidden;
}

.token-skeleton::after {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 5%) 20%,
    rgb(255 255 255 / 10%) 60%,
    rgb(255 255 255 / 0%)
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.token-wrapper.second {
  margin-left: -10px;
  z-index: 0;
}

.token-icon,
.token-icon2 {
  border-radius: 50%;
  height: 29px;
  width: 29px;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-in-out;
}
