.advanced-chart-container {
  background-color: rgb(6,6,6);
  flex-grow: 1;
  position: relative;
}

.advanced-chart-container > div {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.chart-page,
.tv-chart-container,
.chart-widget,
.series-l31H9iuA .titlesWrapper-l31H9iuA {
  font-family: 'Funnel Display', sans-serif !important;
}

.theme-dark:root {
  --tv-color-platform-background: rgb(6,6,6);
  --tv-color-pane-background: rgb(6,6,6);
  --tv-color-toolbar-button-background-hover: rgb(255 255 255 / 10%);
  --tv-color-toolbar-button-background-expanded: rgb(255 255 255 / 8%);
  --tv-color-toolbar-button-background-active: rgb(255 255 255 / 8%);
  --tv-color-toolbar-button-background-active-hover: rgb(255 255 255 / 12%);
  --tv-color-popup-background: rgb(6,6,6);
  --tv-color-popup-element-text: rgb(209, 209, 250);
  --tv-color-popup-element-background-active: rgb(209, 209, 250);
  --priceScaleModeButtons-color: rgb(209, 209, 250);
  --priceScaleModeButtons-background: rgb(6,6,6);
  --priceScaleModeButtons-background-hover: rgb(6,6,6);
  --priceScaleModeButtons-border-hover: rgb(6,6,6);
  --priceScaleModeButtons-background-active: rgb(6,6,6);
  --priceScaleModeButtons-border-active: rgb(6,6,6);
  --priceScaleModeButtons-border: rgb(6,6,6);
  --priceScaleModeButtons-background-activated: #1a1a1c;
  --tv-color-toolbar-button-text: rgb(255 255 255 / 70%);
  --tv-color-toolbar-button-text-hover: rgb(209, 209, 250);
  --tv-color-toolbar-button-text-active: rgb(209, 209, 250);
  --tv-color-toolbar-button-text-active-hover: rgb(209, 209, 250);
  --tv-color-item-active-text: rgb(209, 209, 250);
  --tv-color-toolbar-toggle-button-background-active: rgb(255 255 255 / 20%);
  --tv-color-toolbar-toggle-button-background-active-hover: rgb(
    255 255 255 / 25%
  );
  --tv-color-toolbar-divider-background: rgb(255 255 255 / 12%);
}

html.theme-dark .dialog-aRAWUDhF,
html.theme-dark .calendar-N6r5jhbE {
  background-color: var(--themed-color-bg-primary, rgb(6,6,6));
  color: rgb(209, 209, 250);
}

html.theme-dark .brand-D4RPB3ZC.primary-D4RPB3ZC {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-default-border,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-default-bg,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-content: var(
    --themed-color-btn-brand-primary-default-content,
    rgb(6,6,6)
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.primary-D4RPB3ZC:hover {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-hover-border,
    #bbbddb
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-hover-bg,
    #bbbddb
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.primary-D4RPB3ZC:active {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-active-border,
    #9194b3
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-active-bg,
    #9194b3
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-default-border,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-default-bg,
    rgb(6,6,6)
  ) !important;
  --ui-lib-button-default-color-content: var(
    --themed-color-btn-brand-secondary-default-content,
    rgb(209, 209, 250)
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC:hover {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-hover-border,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-hover-bg,
    #1e1e21
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC:active {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-active-border,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-active-bg,
    #2a2a2e
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.primary-D4RPB3ZC[disabled],
html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC[disabled] {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-disabled-border,
    rgb(170 174 207 / 30%)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-disabled-bg,
    rgb(170 174 207 / 30%)
  ) !important;
  --ui-lib-button-default-color-content: var(
    --themed-color-btn-brand-disabled-content,
    rgb(17 17 20 / 30%)
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC[disabled] {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-disabled-border,
    rgb(170 174 207 / 30%)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-disabled-bg,
    rgb(17 17 20 / 30%)
  ) !important;
}

html.theme-dark .brand-D4RPB3ZC.primary-D4RPB3ZC:focus {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-active-border,
    #9194b3
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-active-bg,
    #9194b3
  ) !important;

  border-color: #9194b3 !important;
  box-shadow: none !important;
  outline: none !important;
}

html.theme-dark .brand-D4RPB3ZC.primary-D4RPB3ZC:focus-visible {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-active-border,
    #9194b3
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-active-bg,
    #9194b3
  ) !important;

  border-color: #9194b3 !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Secondary Button Input Active */
html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC:focus {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-active-border,
    #9194b3
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-active-bg,
    rgb(170 174 207 / 20%)
  ) !important;

  border-color: #9194b3 !important;
  box-shadow: none !important;
  outline: none !important;
}

html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC:focus-visible {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-active-border,
    #9194b3
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-active-bg,
    rgb(170 174 207 / 20%)
  ) !important;

  border-color: #9194b3 !important;
  box-shadow: none !important;
  outline: none !important;
}

html.theme-dark .brand-D4RPB3ZC.primary-D4RPB3ZC,
html.theme-dark .brand-D4RPB3ZC.secondary-D4RPB3ZC,
html.theme-dark [class*='-D4RPB3ZC'] {
  --ui-lib-button-default-color-border-outline: none !important;
  --ui-lib-control-default-focus-ring-color: transparent !important;
  --ui-lib-control-default-focus-ring-offset: 0 !important;
}

html.theme-dark [class*='-D4RPB3ZC'].primary-D4RPB3ZC {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-default-border,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-default-bg,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-content: var(
    --themed-color-btn-brand-primary-default-content,
    rgb(6,6,6)
  ) !important;
}

html.theme-dark [class*='-D4RPB3ZC'].secondary-D4RPB3ZC {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-default-border,
    rgb(209, 209, 250)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-default-bg,
    #0000
  ) !important;
  --ui-lib-button-default-color-content: var(
    --themed-color-btn-brand-secondary-default-content,
    rgb(209, 209, 250)
  ) !important;
}

html.theme-dark [class*='-D4RPB3ZC']:hover {
  border-color: #bbbddb !important;
  box-shadow: none !important;
  outline: none !important;
}

html.theme-dark [class*='-D4RPB3ZC'].primary-D4RPB3ZC:hover {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-hover-border,
    #bbbddb
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-hover-bg,
    #bbbddb
  ) !important;
}

html.theme-dark [class*='-D4RPB3ZC'].secondary-D4RPB3ZC:hover {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-hover-border,
    #bbbddb
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-hover-bg,
    rgb(170 174 207 / 10%)
  ) !important;
}

html.theme-dark [class*='-D4RPB3ZC']:focus,
html.theme-dark [class*='-D4RPB3ZC']:focus-visible,
html.theme-dark [class*='-D4RPB3ZC']:active {
  border-color: #9194b3 !important;
  box-shadow: none !important;
  outline: none !important;
}

html.theme-dark [class*='-D4RPB3ZC'].primary-D4RPB3ZC:focus,
html.theme-dark [class*='-D4RPB3ZC'].primary-D4RPB3ZC:focus-visible,
html.theme-dark [class*='-D4RPB3ZC'].primary-D4RPB3ZC:active {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-primary-active-border,
    #9194b3
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-primary-active-bg,
    #9194b3
  ) !important;
}

html.theme-dark [class*='-D4RPB3ZC'].secondary-D4RPB3ZC:focus,
html.theme-dark [class*='-D4RPB3ZC'].secondary-D4RPB3ZC:focus-visible,
html.theme-dark [class*='-D4RPB3ZC'].secondary-D4RPB3ZC:active {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-secondary-active-border,
    #9194b3
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-secondary-active-bg,
    rgb(170 174 207 / 20%)
  ) !important;
}

html.theme-dark [class*='-D4RPB3ZC'][disabled] {
  --ui-lib-button-default-color-border: var(
    --themed-color-btn-brand-disabled-border,
    rgb(170 174 207 / 30%)
  ) !important;
  --ui-lib-button-default-color-bg: var(
    --themed-color-btn-brand-disabled-bg,
    rgb(170 174 207 / 30%)
  ) !important;
  --ui-lib-button-default-color-content: var(
    --themed-color-btn-brand-disabled-content,
    rgb(17 17 20 / 30%)
  ) !important;
}

.marketStatusOpen-Lgtz1OtS,
html.theme-dark .marketStatusOpen-Lgtz1OtS {
  background-color: #50f08d11;
  color: #50f08d;
}

.container-zLVm6B4t,
html.theme-dark .container-zLVm6B4t {
  background: var(--themed-color-tooltip-wizard-bg, rgb(209, 209, 250));
  border-radius: 4px;
}

.text-kfvcmk8t,
.closeButton-zLVm6B4t {
  color: rgb(6,6,6);
}

.icon-GwQQdU8S + .text-GwQQdU8S,
.text-GwQQdU8S + .icon-GwQQdU8S {
  place-self: center center;
}

.button-GwQQdU8S {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon-GwQQdU8S {
  place-self: center center;
}
