.trades-container {
  color: #ffffffbe;
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  height: 100%;
}

.trades-list {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  scrollbar-width: none;
  user-select: none;
}

.trades-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, rgba(6, 6, 6, 0.2), rgb(6, 6, 6));
  pointer-events: none;
  border-radius: 0 0 10px 10px; 
}

.trades-container.hidden {
  display: none;
}


.trades-loading-list {
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s ease-in-out;
}

.trade-loading-item {
  padding: 4px 8px;
  position: relative;
  cursor: default;
}

.trade-loading-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  position: relative;
}

.trade-loading-price {
  width: 65px;
  height: 14px;
  border-radius: 2px;
}

.trade-loading-size {
  width: 50px;
  height: 14px;
  border-radius: 2px;
}

.trade-loading-time {
  width: 45px;
  height: 14px;
  border-radius: 2px;
}
