.ob-container {
  background: #0f0f12;
  border-radius: 8px;
  color: #ffffffd8;
  height: 100%;
  overflow: visible;
  width: 100%;
}

.ob-container,
.ob-header {
  display: flex;
  flex-direction: column;
}

.ob-header {
  border-bottom: 1px solid rgb(58 58 63 / 20%);
  position: relative;
}

.with-transition {
  transition: left 0.3s ease;
}

.orderbook.ob-container {
  background: #16171c;
  color: #ffffffd8;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  overflow-x: visible;
  z-index: 0;
}

.ob-tabs {
  display: flex;
  position: relative;
  user-select: none;
}

.ob-tab {
  background: none;
  color: #ffffff96;
  cursor: pointer;
  flex: 1;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  transition:
    opacity 0.2s,
    color 0.3s,
    text-shadow 0.3s;
  white-space: nowrap;
}

.ob-tab.ob-active {
  color: #b7bad8;
  opacity: 1;
  text-shadow:
    0 0 10px rgb(170 174 207 / 40%),
    0 0 20px rgb(170 174 207 / 20%);
  transition:
    color 0.3s,
    opacity 0.2s,
    text-shadow 0.3s;
}

.ob-tab:hover {
  opacity: 0.7;
}

.ob-sliding-indicator {
  animation: glowPulse 2s infinite ease-in-out;
  background-color: #aaaecf;
  border-radius: 1px;
  bottom: 0px;
  height: 1.5px;
  position: absolute;
  transition: left 0.3s ease;
}
