.token-info-modal {
  height: auto;
  max-height: min(280px, 90vh);
  width: min(400px, 90vw);
}

.token-info-modal-backdrop {
  background-position: center;
  background-size: cover;
  filter: blur(20px);
  height: 200px;
  left: 50%;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 200px;
  z-index: -2;
}

.token-info-modal-content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0px 20px;
  position: relative;
  z-index: 1;
}

.token-info-modal-image {
  border-radius: 50%;
  height: 60px;
  margin-bottom: 10px;
  width: 60px;
}

.token-info-modal-title {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
}

.token-info-modal-description {
  color: #ffffff78;
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 10px 0;
  text-align: center;
}

.token-info-modal-links {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.token-info-modal-link {
  align-items: center;
  color: #9ca3af;
  display: flex;
  font-size: 0.8rem;
  gap: 4px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.token-info-modal-link:hover {
  color: #ffffffcd;
}
