.token-info-button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  transition: opacity .2s;
}

.token-info-button:hover {
  opacity: 0.7;
}

.token-info-popup-icon {
  height: 11px;
  opacity: 0.75;
  transform: scale(1.01);
  width: 11px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  padding: 1px
}
