.symbol-info {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 7px 10px 7px 10px;
  position: relative;
  background-color: #0f0f12;
  border-radius: 8px;
  max-height: 47px;
  min-height: 47px;
}

.mobile-symbol-info {
  align-items: center;
  display: flex;
  gap: 6px;
  padding: 7px 12px;
  position: relative;
  background-color: #0f0f12;
  border-radius: 8px;
  max-height: 47px;
  min-height: 47px;
}

.second-asset{
  color: #ffffff80;
  font-weight: 400;
  margin-left: 3px;
}
.token-info-search-icon{
  opacity: 0.3;
  margin-right: 5px;
}
.token-info-container{
  display: flex;
  align-items: center;
  gap:4px;
}

.token-info-container-simple{
  display: flex;
  align-items: center;
  gap:4px;
}

.symbol-info:hover {
  cursor: pointer;
}

.ctrlktooltip{
  letter-spacing: 0.5px;
  background-color: #1b1b23;
  border-radius: 8px;
  color: #aaa8b8;
  font-size: 0.75rem;
  padding: 4px 8px;
  margin-left: -4px;
}

.price-display-section {
  cursor: default;
}

.token-details {
  align-items: flex-start;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.trading-pair {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: -5px;
}

.token-name {
  align-items: center;
  display: flex;
  gap: 4px;
}

.full-token-name {
  color: #b8b7b7;
  font-size: 0.65rem;
}

.token-actions {
  align-items: center;
  display: flex;
  gap: 5px;
}

.token-name-vertical-divider {
  background-color: rgb(58 58 63 / 40%);
  height: 60px;
  margin: 0 2px;
  width: 0.5px;
}

.symbol-skeleton {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  height: 17px;
  margin-bottom: 2px;
}

.symbol-skeleton,
.pair-skeleton {
  background: #2d2d3b;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.pair-skeleton {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 11px;
  margin-top: 2px;
}

.pair-skeleton > *, .symbol-skeleton > * {
  opacity: 0;
}

.symbol-skeleton::after,
.pair-skeleton::after {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 5%) 20%,
    rgb(255 255 255 / 10%) 60%,
    rgb(255 255 255 / 0%)
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.favorite-icon {
  align-items: center;
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 4px;
  transition: color.2s ease;
}

.favorite-icon:hover,
.favorite-button:hover,
.dropdown-market-favorite-button:hover {
  color: #9ca3af;
}

.favorite-icon.active,
.favorite-button.active,
.tab-button:hover,
.dropdown-market-favorite-button.active {
  color: #aaaecf;
}

.markets-favorite-section {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-left: 0;
}

.markets-dropdown {
  position: static;
}

.markets-dropdown-trigger {
  align-items: center;
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 4px;
  padding-left: 0;
  transition: all.2s ease;
}

.markets-list {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  overflow-y: auto;
  padding: 2px 4px 6px 4px;
  max-height: calc(100vh - 155px);
}

@media(max-width: 800px) {
  .markets-list {
    max-height: calc(100vh - 170px);
  }
}

.markets-list::after {
  background: linear-gradient(180deg, rgba(21, 21, 23, 0) 0, #0f0f125a 100%);
  border-radius: 8px;
  bottom: 0;
  content: '';
  height: 40px;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.chart-header {
  position: relative;
  z-index: 3;
}

.favorite-button {
  align-items: center;
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.markets-list-header > div:nth-child(2),
.market-item > div:nth-child(2) {
  text-align: left;
}

.markets-list-header > div:nth-child(3),
.market-item > div:nth-child(3),
.markets-list-header > div:nth-child(4),
.market-item > div:nth-child(4),
.markets-list-header > div:nth-child(5),
.market-item > div:nth-child(5) {
  text-align: right;
}

.market-pair-cell {
  align-items: center;
  display: flex;
  margin-left: 5px;
  width: 110px;
}

.dropdown-market-icon {
  color: #aaaecf;
  margin-left: 5px;
  margin-right: -15px;
}

.market-pair {
  color: #d9dbdf;
  font-size: 0.775rem;
  font-weight: 400;
}

.market-type {
  color: #aaaecf;
  text-transform: capitalize;
}

.market-price,
.market-volume {
  color: #c4c6dd;
  font-size: 0.75rem;
}

.market-change.positive {
  color: #50f08d;
  font-size: 0.75rem;
}

.market-change.negative {
  color: #ef5151;
  font-size: 0.75rem;
}

.markets-tabs {
  background: #17171a;
  border-bottom: 1px solid #2d2d3b;
  display: flex;
  padding: 0 8px;
}

.tab-button {
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 8px 16px;
  position: relative;
  transition: all.2s ease;
}

.tab-button.active {
  color: #aab0e8;
}

.tab-button.active::after {
  background-color: #aab0e8;
  bottom: -1px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.search-container {
  align-items: center;
  display: flex;
  padding: 4px;
  padding-bottom: 0;
  padding-top: 6px;
  position: relative;
  width: 100%;
}

.market-icon {
  border-radius: 50%;
  color: #aaaecf;
  height: 22px;
  margin-right: 5px !important;
  width: 22px;
}

.search-wrapper {
  padding: 0 5px;
  padding: 0 5px;
  position: relative;
  position: relative;
  width: 100%;
  width: 100%;
}

.search-wrapper,
.cancel-search {
  align-items: center;
  align-items: center;
  display: flex;
  display: flex;
}

.cancel-search {
  background: none;
  border: none;
  color: #aaaecf;
  cursor: pointer;
  font-size: 0.7rem;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  transition: color.2s ease;
}

.cancel-search:hover {
  color: #727477;
}

.dropdown-market-favorite-button {
  align-items: center;
  background: none;
  border: none;
  color: #464a51;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: -15px;
  padding: 5px;
  transition: color.2s;
  width: 25px;
}

.markets-dropdown-content {
  backdrop-filter: blur(20px);
  background-color: #0f0f128f;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 100%);
  left: 0;
  opacity: 0;
  position: absolute;
  top: calc(100% + 6px);
  transform: translateY(-20px);
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 340px;
  z-index: 10;
}

.markets-dropdown-content.visible {
  border-radius: 12px;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.markets-dropdown-content:not(.visible) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
}

.trigger-content {
  transition: transform 0.2s ease;
}

.trigger-content.active {
  transform: translateY(-3px) rotate(180deg);
  transform: translateY(-3px) rotate(180deg);
}

.search-input {
  background: none;
  border: none;
  border-bottom: 1px solid #1f1f21;
  color: #c2c3c7;
  font-size: 0.75rem;
  padding: 5px 25px;
  position: relative;
  width: 100%;
}

.search-input:focus {
  border-color: #1f1f21;
  outline: none;
}

.search-icon {
  color: #575a5f;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.market-item {
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 15px 1fr 1fr 0.5fr;
  padding: 4px 16px;
  padding-left: 20px;
  transition: background-color.2s;
}

.market-item:hover {
  background-color: #1e1e229d;
}

.market-pair-section {
  align-items: center;
  display: flex;
  gap: 2px;
}

.market-info {
  display: flex;
  flex-direction: column;
}

.market-volume {
  color: #9499a3;
  font-size: 0.75rem;
  margin-top: -5px;
}

.market-price-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.minichart-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.market-price {
  color: #e5e7eb;
  font-size: 0.8rem;
}

.market-change {
  margin-top: -2px;
}

.markets-list-header {
  color: #7e8186;
  display: grid;
  font-size: 0.75rem;
  grid-template-columns: 23px 1.2fr 1fr 0.4fr;
  margin-bottom: -3px;
  padding: 5px 14px 3px 16px;
}

.markets-list-header > div {
  align-items: center;
  color: #828282;
  cursor: pointer;
  display: flex;
  user-select: none;
}

.markets-list-header > div:hover {
  color: #9b9da0;
}

.markets-list-header > div:first-child {
  cursor: default;
}

.markets-list-header > div:first-child:hover {
  color: #7e8186;
}

.favorites-header {
  align-items: center;
  display: flex;
}

.favorites-header .favorites-sort-icon {
  color: #5f5f63;
  transition: color.2s ease;
  width: 12px;
}

.favorites-header:hover .favorites-sort-icon {
  cursor: pointer;
  opacity: 0.8;
}

.search-wrapper::after {
  background-color: #aaaecf;
  bottom: 0;
  content: '';
  height: 0.5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.3s ease;
  width: 0;
}

.search-wrapper:focus-within::after {
  width: calc(100% - 10px);
}

.markets-dropdown-price-container {
  justify-self: flex-start;
}

.markets-dropdown-chart-container {
  justify-self: flex-start;
}

.token-info-right-section{
  display: flex;
  align-items: center;
  background-color: #0f0f12;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  max-height: 47px;
  min-height: 47px;
  gap: 10px;
  padding:0 15px;

}

.search-market-text-container{
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}


.chart-header.simplified .search-market-text {
  color: #a8a9b9;
  font-size: 0.8rem;
  font-weight: 300;
}


.chart-header.simplified .second-asset {
  color: #a8a9b973;
  font-size: 0.7rem;
  font-weight: 300; 
  margin: 0;
  margin-top: -6px;
}


.market-filter-tabs {
  display: flex;
  padding: 5px 6px;
  padding-bottom: 0;
  overflow-x: scroll;
}


.filter-tab:hover {
  background-color: #2a2a378f;
}

.filter-tab.active {
  color: #cad2e2;
  background-color: #2a2a378f;
}


.market-filter-tabs {
  display: flex;
  padding: 5px 6px;
  padding-bottom: 0;
  overflow-x: auto;
  position: relative;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.market-filter-tabs::-webkit-scrollbar {
  display: none;
}

.filter-tab {
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  font-size: 0.75rem;
  padding: 3px 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
  background-color: #1c1c238f;
  margin: 0 2px;
  flex-shrink: 0; 
}

@media(max-width:1020px){
  .mobile-symbol-info{
    display: none;
  }

  .token-info-container-simple{
    display: none;
  }

  .ctrlktooltip{
    display: none;
  }
}

@media(max-width: 400px){
  .token-details {
    display: none !important;
  }

  .symbol-info {
    padding-right: 3px;
  }
}
