.segmented-progress-bar {
  background: none;
  border-radius: 0px;
  display: flex;
  gap: 2px;
  height: 6px;
  margin: 2px 0;
  width: 100%;
}

.segmented-progress-bar-hidden {
  background: none;
  border-radius: 0px;
  display: flex;
  height: 6px;
  margin: 2px 0;
  width: 100px;
}

.progress-segment {
  background: linear-gradient(90deg, #9096d3 0%, #b7bad8 100%);
  border-radius: 1px;
  flex: 0 0 2px;
  height: 100%;
  min-width: 2px;
  width: 2px;
}

.filled {
  opacity: 1;
}

.empty {
  opacity: 0.08;
}
