.trades-header {
  align-items: center;
  box-shadow: 0 4px 4px rgb(6,6,6);
  background-color: rgb(6,6,6);
  color: #ffffff62;
  display: flex;
  font-size: 0.75rem;
  font-weight: 100;
  justify-content: space-between;
  margin-top: 4px;
  padding: 0 0.6rem;
  position: sticky;
}
