.combined-header-filter {
  display: flex;
  align-items: center;
}

.page-size-container {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.page-size-container::after{
  content: '';
  height: 34px;
  margin-left: 12px;
  width: 1px;
  border-left: 1px solid rgba(179, 184, 249, 0.1);
}

.show-text {
  color: #ffffff71;
  font-size: 0.75rem;
  margin-right: 6px;
  font-weight: 300;
}

.per-page-text {
  color: #ffffff70;
  font-size: 0.75rem;
  margin-left: 6px;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .per-page-text {
    display: none;
  }
  .show-text {
    display: none;
  }
}

.page-size-section {
  position: relative;
}

.page-size-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: 1px solid rgba(179, 184, 249, 0.1);
  border-radius: 4px;
  padding: 2px 6px;
  color: rgb(255 255 255 / 75%);
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 35px;
}
 
.page-size-display {
  margin-right: 5px;
}


.page-size-arrow {
  transition: transform 0.2s ease;
  margin-left: -2px;
}

.page-size-arrow.open {
  transform: rotate(180deg);
}

.page-size-dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  background-color: rgb(9, 9, 9);
  border: 1px solid rgba(179, 184, 249, 0.1);
  overflow: hidden;
  z-index: 4;
  min-width: 100%;
}

.page-size-option {
  padding: 3px 9px;
  color: #ffffff97;
  font-size: 0.75rem;
  cursor: pointer;
  transition: background 0.2s ease;
  text-align: center;
}

.page-size-option:hover {
  background: #2a2a2e8e;
}

.page-size-option.selected {
  color: #ffffffd2;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.header-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 20px;
  background: none;
  border: 1px solid rgb(170 174 207 / 8%);
  border-radius: 4px;
  color: rgb(255 255 255 / 75%);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}
 
.header-nav-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.header-page-indicator {
  display: flex;
  align-items: center;
  margin: 0px 7px 0px 6px;
  color: rgb(255 255 255 / 50%);
  font-size: 0.75rem;
}

.header-page-total {
  white-space: nowrap;
}

.page-input {
  background: none;
  border: none;
  outline: none;
  color: rgb(255 255 255 / 70%);
  font-size: 0.75rem;
  width: auto;
  min-width: 15px; 
  border: 1px solid transparent;
  height: 18px;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  margin-left: -3px;
}

.page-input:hover{
    border-color: rgba(179, 184, 249, 0.1);
}

.filter-left-arrow {
  width: 13px;
  transform: rotate(90deg);
  opacity: 0.70;
}

.filter-right-arrow {
  width: 13px;
  transform: rotate(270deg);
  opacity: 0.70;
}

.page-size-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}