.componentoverlay {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.logo-pulse-component {
  animation: move 1.8s infinite;
  user-select: none;
}

@keyframes move {
  0% {
    opacity: 0.3;
    transform: scale(0.95);
  }
  
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  
  100% {
    opacity: 0.3;
    transform: scale(0.95);
  }
}