.timeframe {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.chart-sliding-indicator {
  background-color: #9e9bc823;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #9e9bc823;
  height: 19px;
  position: absolute;
  transition:
    left 0.2s ease,
    width 0.2s ease;
}
