.portfolio-specific-page {
  align-items: center;
  background: rgb(6 6 6);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  min-height: 600px;

}

.portfolio-content-container {
  display: flex;
  gap: 4px;
  height: 100%;
  /* max-height: 900px;
  max-width: 1700px; */
  /* next person to uncomment the two lines above owes me doordash (triple cheesburger medium fries sweet tea apple pie) */
  overflow: hidden;
  padding-right:5px;
  width: 100%;
}

.graph-container {
  background: #0f0f12;
  border-radius: 8px;
  height: 100%;
  padding: 15px 10px 30px;
}

.graph-outer-container {
  background: #141418;
  flex: 1;
  height: 60%;
  width: 100%;
}

.graph-outer-container,
.order-section {
  border-radius: 8px;
  overflow: hidden;
}

.order-section {
  clip-path: inset(0);
  min-height: 0;
}

.graph-label {
  color: rgb(255 255 255/50%);
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 20px;
}

.portfolio-assets-container {
  min-width: 540px;
  position: relative;
}

.portfolio-order-center-wrapper {
  background: #0f0f12;
  border-radius: 8px;
  flex: 2;
  overflow: hidden;
  width: 100%;
}

.account-stats-container {
  background: #0f0f12;
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  max-width: 250px;
  padding: 25px;
}

.account-header {
  align-items: center;
  color: rgb(255 255 255/50%);
  display: flex;
  font-size: 0.75rem;
  gap: 8px;
}

.section-label {
  font-size: 0.8rem;
  font-weight: 300;
}

.portfolio-eye-button {
  align-items: center;
  background: 0 0;
  border: none;
  color: grey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: -2px;
  margin-top: 6px;
  padding: 0;
}

.total-value-container {
  margin-bottom: 0;
  margin-top: 8px;
}

.total-value-label {
  color: rgb(255 255 255/70%);
  display: block;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.blurred {
  filter: blur(6px);
  user-select: none;
}

.percentage-change-container {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

.percentage-value {
  font-size: 0.8rem;
  font-weight: 500;
}

.time-range {
  color: rgb(255 255 255/50%);
  font-size: 0.8rem;
}

.disconnect-button {
  align-items: center;
  background: 0 0;
  border: none;
  color: rgb(255 255 255/70%);
  cursor: pointer;
  display: flex;
  margin-left: auto;
  padding: 4px;
}

.disconnect-button:hover {
  color: rgb(255 255 255/90%);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.account-stats-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  max-width: 350px;
  min-width: 275px;
}

.account-summary-container {
  backdrop-filter: blur(20px);
  border: 1px solid rgb(255 255 255/10%);
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgb(0 0 0/18%);
  color: #fff;
  padding: 20px;
}

.account-summary-container.positive {
  background: linear-gradient(145deg, rgb(17 17 20/90%), rgb(0 184 148/20%));
}

.account-summary-container.negative {
  background: linear-gradient(145deg, rgb(17 17 20/90%), rgb(255 82 82/20%));
}

.total-value {
  color: rgb(255 255 255/90%);
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
}

.percentage-value.positive {
  color: #00b894;
}

.percentage-value.negative {
  color: #ff5252;
}

.trading-stats-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.trading-stats-title,
.referral-stats-title {
  color: rgb(255 255 255/50%);
  font-size: 0.75rem;
  font-weight: 400;
}

.disconnect-icon,
.control-icon {
  fill: none;
  height: 18px;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  width: 18px;
}

.stats-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
}

.stat-row {
  align-items: center;
  color: rgb(255 255 255/40%);
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;
}

.stat-label {
  color: rgb(255 255 255/50%);
  font-size: 0.7rem;
}

.account-stat-value {
  color: rgb(255 255 255/90%);
  font-size: 0.8rem;
  font-weight: 100;
  text-align: right;
}

.port-loading {
  background: #26262c7e;
  border-radius: 4px;
  display: inline-block;
  height: 11px;
  margin-right: 3px;
  overflow: hidden;
  position: relative;
  transform: translateY(1px);
  transition: opacity.2s ease;
  width: 45px;
}

.port-loading::after {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255/0) 0,
    rgb(255 255 255/5%) 20%,
    rgb(255 255 255/10%) 60%,
    rgb(255 255 255/0)
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}

.controls-container {
  background: #0f0f12;
  border-radius: 8px;
  display: flex;
  gap: 4px;
  height: 65px;
  justify-content: space-between;
  padding: 8px;
}

.control-button {
  align-items: center;
  background: 0 0;
  border: none;
  color: rgb(255 255 255/40%);
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 0.7rem;
  gap: 2px;
  height: 50px;
  justify-content: center;
  letter-spacing: 0.5px;
  transition: color.2s ease;
}

.control-button:hover {
  color: rgb(255 255 255/60%);
}

.port-eye-slash {
  background-color: rgb(108, 107, 107);
  height: 1.5px;
  left: -1.5px;
  position: absolute;
  top: 44%;
  transform: rotate(45deg);
  transition: opacity.2s ease;
  transition: 0.3s all;
  width: 20px;
}
.control-button:hover .port-eye-slash {
  background-color: rgb(183, 181, 181);
}

.port-eye-slash.hidden {
  opacity: 0;
}

.trading-stats-container {
  background: #0f0f12;
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 150px;
  min-height: 150px;
  padding: 15px 20px;
}

.type-tab-buttons {
  background: #0f0f12;
  border-radius: 8px 8px 0 0;
  margin-bottom: -5px;
  padding: 5px;
  position: relative;
  width: 200px;
}

.type-tab-buttons,
.type-tab-button {
  align-items: center;
  display: flex;
}

.type-tab-button {
  background: 0 0;
  border: none;
  border-radius: 4px;
  color: rgb(255 255 255/50%);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 300;
  height: 20px;
  justify-content: center;
  margin-right: 4px;
  text-align: center;
  transition: background-color.2s, color.2s;
}

.type-tab-button.active {
  background-color: rgb(255 255 255/10%);
  color: #ffffffcd;
}

.type-tab-button:hover:not(.active) {
  background-color: rgb(255 255 255/5%);
  color: rgb(255 255 255/80%);
}

.type-tab-content {
  height: 100%;
}

.type-tab-content,
.order-center-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.order-center-wrapper {
  background: #0f0f12;
}

.oc-content:has(.portfolio-assets-container) {
  overflow-x: auto;
}

.portfolio-container {
  background: #0f0f12;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 236px;
  overflow-x: auto;
  padding: 0 10px;
  width: 100%;
}

.referral-codes-container {
  background: #0f0f12;
  border-radius: 8px;
  color: #fff;
  flex: 2;
  padding: 15px 20px;
}

.portfolio-layout {
  display: flex;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.portfolio-left-column {
  display: flex;
  flex: 4.5;
  flex-direction: column;
  gap: 4px;
  min-height: 0;
  min-width: 0;
}

.portfolio-graph-container {
  height: 100%;
  width: 100%;
}

.referral-stats-header,
.trading-stats-header {
  margin-bottom: 12px;
}

.referral-stats-list,
.stats-list,
.referral-stats-list,
.stats-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.referral-stats-container {
  background: #0f0f12;
  border-radius: 8px;
  color: #fff;
  flex: 1;
  min-height: 130px;
  padding: 15px 20px;
}

.create-code-text {
  color: #aaaecf;
  font-size: 0.7rem;
  margin-top: 5px;
}

.create-code-text:hover {
  color: #b5bae8;
  cursor: pointer;
  text-decoration: underline;
}

@media (width <=1020px) {
  .portfolio-layout {
    display: grid;
    flex-direction: column;
    gap: 4px;
    grid-template-areas: 'graph' 'stats' 'orders';
    height: auto;
    padding-bottom: 10px;
  }

  .portfolio-left-column {
    display: contents;
    flex: 1;
    margin: 0;
    min-height: 600px;
    padding: 0;
    width: 100%;
  }

  .account-stats-wrapper {
    grid-area: stats;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  .graph-outer-container {
    grid-area: graph;
    margin: 0;
    min-height: 300px;
    padding: 0;
  }

  .mobile-stats-container {
    display: flex;
    gap: 4px;
  }

  .portfolio-specific-page {
    height: auto;
    margin: 0 0 5px 0;
    overflow: visible;
    padding:0 5px;
  }

  .portfolio-content-container {
    flex-direction: column;
    margin: 0;
    max-height: none;
    padding: 0;
  }

  .referral-stats-container,
  .trading-stats-container,
  .account-summary-container {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }

  .controls-container {
    flex-direction: row;
    height: auto;
    padding: 12px;
  }

  .control-button {
    flex-direction: row;
    gap: 8px;
    height: 40px;
  }

  .graph-container {
    height: 300px;
    margin: 0;
  }

  .portfolio-graph-container {
    margin: 0;
    padding: 0;
  }

  .order-section {
    height: fit-content;
    margin: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .mobile-stats-container {
    flex-direction: column;
  }
}
