

.chart-orderbook-panel {
  display: flex;
  height: 100%;
  overflow: visible;
  position: relative;
  width: calc(100vw - 345px);
  background-color: rgb(6,6,6);
}

.orderbook-container {
  height: 100%;
  overflow: hidden;
}

.orderbook-container.large-mode {
  overflow: visible;
}

.chart-container {
  flex: 1;
  min-width: 0;
}

.spacer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
}

.spacer.collapsed {
  display: none;
}

.drag-handle {
  background-color: transparent;
  cursor: col-resize;
  height: calc(100%);
  margin-left: -2px;
  position: absolute;
  width: 2px;
  z-index: 3;
}

.drag-handle::after{
  border-left: 1px solid rgba(179, 184, 249, 0.1);
  content: '';
  height: 100%;
  margin-left: 2.5px;
  position: absolute;
  width: 1px;
  z-index: 0;
}

.drag-handle:hover, 
.isDragging .drag-handle {
  background-color: #aaaecf;
}

.toggle-icon-container {
  align-items: center;
  background-color: #1b1b1f;
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  width: 16px;
  z-index: 3;
}

.toggle-icon {
  color: rgb(255 255 255 / 25%);
  height: 13px;
  transition:
    color 0.2s ease,
    transform 0.3s ease;
  width: 13px;
}

.toggle-icon:hover {
  color: rgb(255 255 255 / 50%);
}

.toggle-icon.left {
  transform: rotate(90deg);
}

.toggle-icon.left.collapsed, .toggle-icon.right {
  transform: rotate(270deg);
}

.toggle-icon.right.collapsed {
  transform: rotate(90deg);
}