.code-container,.code-box {
  width: 100%;
}

.code-box {
  background: #0f0f12;
  border-radius: 8px;
  padding: 0.5rem 1.5rem 0.75rem 1.5rem;
  position: relative;
}


@media (max-width: 860px) {
  .code-box {
    width: 100% !important;
  }
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.loader-spinner-black {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000000;
  animation: spin 1s ease-in-out infinite;
}


.loader-spinner-white {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #aaaecf;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.code-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.05rem;
  font-weight: 300;
  margin: 0;
}

.referral-subtitle {
  color: rgb(255 255 255 / 35%);
  font-size: 0.7rem;
  margin: 0 0 0.5rem 0;
}

.error-message {
  color: #f26464;
  background-color: #d64a342f;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 300;
  position: absolute;
  right: 12px;
  margin-top: 2px;
  padding: 2px 8px;
}

.input-container {
  flex-direction: column;
}

.input-container,.input-row {
  display: flex;
  gap: 0.5rem;
}

.input-row {
  height: 2rem;
}

.input-with-clear {
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;
}

.code-input,
.code-input-success {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  height: 100%;
  letter-spacing: -0.3px;
  padding: 0 0.5rem;
  transition: all 0.2s;
  width: 100%;
  height: 34px;

}
.code-input::-moz-placeholder{
  color: #ededf571;
  font-weight: 300  ;
}
.code-input::placeholder{
  color: #ededf571;
  font-weight: 300  ;
}
.code-input:focus {
  border-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.code-input-success {
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  padding-right: 2rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.clear-icon-button {
  align-items: center;
  background: none;
  border: none;
  color: #aaaecf;
  cursor: pointer;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.2s;
}

.clear-icon-button:hover,.clear-icon-button:focus {
  color: rgba(255, 255, 255, 0.7);
}

.clear-icon-button:focus {
  outline: none;
}

.code-button {
  align-items: center;
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7f82a1 100%
  );
  border: none;
  border-radius: 6px;
  box-shadow:
    inset 0 1px 1px rgb(255 255 255/35%),
    inset 0 -1px 1px rgb(0 0 0/45%),
    0 2px 6px rgb(170 174 207/10%);
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  letter-spacing: -0.3px;
  padding: 0 1rem;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  width: 100px;
}

.code-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.code-button:focus {
  box-shadow: 0 0 0 1px rgba(240, 96, 96, 0.1);
  outline: none;
}

.code-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.learn-more-link {
  color: #aaaecf;
  font-size: 0.7rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s;
}

.learn-more-link:hover {
  color: #bcc0e7;
}
