.price-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.price-label {
  color: #a0a0a0;
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: -2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.price-row {
  align-items: center;
  display: flex;
  gap: 8px;
}

.price-skeleton {
  height: 12px;
  width: 70px;
}

.price-skeleton {
  background: #1f1f23;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
}

.price-skeleton::after {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 5%) 20%,
    rgb(255 255 255 / 10%) 60%,
    rgb(255 255 255 / 0%)
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.token-price {
  color: #fff;
  font-size: 0.85rem;
}

.price-change {
  font-size: 0.80rem;
}

.price-change.negative {
  color: rgb(233 111 111);
}

.price-change.neutral {
  color: rgb(255 255 255);
}

.price-change.positive {
  color: #50f08d;
}
