.side-menu-overlay {
  background-color: rgba(0, 0, 0, .67);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity .3s;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.side-menu-overlay.open {
  animation: menuFadeIn .3s ease-out forwards;
  visibility: visible;
}

.side-menu-overlay.closing {
  animation: menuFadeOut .1s ease-out forwards;
  visibility: visible;
}

@keyframes menuFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menuFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.side-menu {
  backdrop-filter: blur(5px);
  background: rgb(6,6,6);
  border: 1px solid rgb(255 255 255 / 3.4%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: -300px;
  opacity: 0;
  padding: 20px;
  position: fixed;
  transition: left .3s, opacity .3s;
  visibility: hidden;
  width: 300px;
  z-index: 1000000000001;
}

.side-menu.open {
  animation: menuSlideIn .3s ease-out forwards;
  visibility: visible;
}

.side-menu.closing {
  animation: menuSlideOut .3s ease-out forwards;
  visibility: visible;
}

@keyframes menuSlideIn {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes menuSlideOut {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -300px;
    opacity: 0;
  }
}

.side-menu-bg {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;
}

.side-menu-nav{
  display: flex;
  flex-direction: column;
}

.side-menu-header {
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: -15px;
}

.side-menu-header, .side-menu-logo {
  align-items: center;
  display: flex;
}

.side-menu-title {
  color: rgb(255 255 255);
  font-family: Orbitron, sans-serif;
  font-size: 1.2rem;
  margin-left: 3px;
  margin-top: -3px;
  margin-bottom: -3px;
  font-weight: 500;
}

.close-button {
  background: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: -5px;
  width: 30px;
}

.close-button:hover {
  opacity: 0.5;
}

.sidemenu-close-button-icon {
  display: flex;
  height: 17px;
  opacity: 0.7;
  place-self: center center;
  width: 17px;
}