.perps-wrapper {
    max-height: 100%;
    overflow: hidden;
}

.perps-trade-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(6, 6, 6);
    overflow-y: scroll;
    min-width: 290px;
    width: 290px;
}


@media (width>=1320px) {
    .perps-trade-modal {
        min-width: 300px;
        width: 300px;
    }
}


@media (width>=1500px) {
    .perps-trade-modal {
        min-width: 320px;
        width: 320px;
    }
}

@media (width>=1920px) {
    .perps-trade-modal {
        min-width: 340px;
        width: 340px;
    }
}

.perps-top-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;

}

.perps-buy-sell-container {
    display: flex;
    width: 100%;
    margin: 4px 12px 0 12px;
    width: calc(100% - 24px);
    border-radius: 6px;
    border: 1px solid rgba(179, 184, 249, .1);
}

.perps-long-button,
.perps-short-button {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: .85rem;
    transition: 0.3s ease;
    letter-spacing: -0.3px;
    border: 1.5px solid transparent;
    font-weight: 300;
}

.perps-long-button.active {
    border: 1.5px solid rgba(67, 254, 154, 0.7);
    color: rgb(67 254 154);
}

.perps-long-button.inactive {
    background: #11111328;
    color: #666;
}

.perps-short-button.active {
    border: 1.5px solid rgb(235, 112, 112, 0.5);
    color: rgb(235, 112, 112);
}

.perps-short-button.inactive {
    background: #11111328;
    color: #666;
}


.perps-long-button:hover {
    color: rgb(67 254 154);
}

.perps-short-button:hover {
    color: rgb(235, 112, 112);
}

.perps-order-types-wrapper {
    position: relative;
}

.perps-order-types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px 13px;
    position: relative;
}

.perps-order-type-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.75rem;
    color: #ffffff96;
    font-weight: 300;
    background: transparent;
    border: none;
    padding: 8px 0;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    white-space: nowrap;
}



.perps-pro-button-wrapper {
    width: 100%;

}

.perps-pro-dropdown-arrow {
    margin-right: -5px;
    width: 15px;
    height: 15px;
    opacity: 0.6;
    transition: transform 0.3s ease;
    vertical-align: middle;
    display: inline-block;
    color: #6c7284;
    font-size: 12px;
}

.perps-pro-dropdown-arrow.open {
    transform: rotate(180deg);
}

.perps-pro-dropdown-menu {
    position: absolute;
    top: calc(100%);
    left: 50%;
    padding: 2px 0;
    width: 100%;
    z-index: 5;
    background-color: rgb(9, 9, 9);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border: 1px solid rgba(179, 184, 249, 0.15);
    overflow: hidden;
    animation: dropdown-fade-in 0.2s ease-out forwards;
}

.perps-pro-option {
    display: block;
    padding: 2px 1px;
    color: #ffffff96;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 400;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
    cursor: pointer;
}

.perps-order-type-button.active {
    color: #ffffff;
}

.perps-order-type-button:hover {
    color: #ffffffcc;
}

.perps-sliding-tab-indicator {
    border: 1px solid #aaaecf30;
    border-radius: 4px;
    box-shadow: inset 0 0.5px rgba(230, 227, 250, 0.053), 0 5px 15px rgb(0 0 0 / 20%);
    height: 24px;
    position: absolute;
    transition: transform .2s ease;
    z-index: 1;
}


.leverage-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: 0.9rem;
    border: 1px solid #aaaecf30;
    border-radius: 4px;
    margin: 13px;
    margin-bottom: 0;
    font-size: 0.75rem;
    color: rgb(203, 203, 207);
    letter-spacing: -0.3px;
    cursor: pointer;
}


.perps-slider-mode-buttons {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}

.perps-slider-mode-button {
    flex: 1;
    padding: 4px 8px;
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 4px;
    background: transparent;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all 0.2s ease;
}

.perps-slider-mode-button.active {
    background: rgb(170 174 207 / 8%);
    border-color: #aaaecf66;
    box-shadow: 0 0 0 1px rgba(170, 174, 207, 0.6);
    color: #d8dcff;
}

.perps-slider-container {
    position: relative;
    width: 100%;
}

.perps-slider-container.perps-presets-mode {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.perps-preset-buttons {
    display: flex;
    gap: 3px;
    justify-content: center;
    margin-top: -3px;
}

.perps-preset-button {
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 4px;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0 16px;
    height: 20px;
    transition: all 0.2s ease;
    width: 100%;
    background: transparent;
    font-weight: 300;
}

.perps-preset-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.perps-slider-container.perps-increment-mode {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    padding-top: 2px;
}

.perps-increment-button {
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 8px;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    background: transparent;
}

.perps-increment-button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.perps-increment-display {
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 8px;
    color: rgb(255, 255, 255, 0.7);
    font-size: 1rem;
    height: 30px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.perps-increment-amount {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.perps-balance-amount-slider {
    appearance: none;
    border-radius: 1px;
    cursor: pointer;
    height: 4px;
    margin: 0 4px;
    outline: 0;
    position: relative;
    width: calc(100% - 15px);
}

.perps-balance-amount-slider::-webkit-slider-thumb {
    appearance: none;
    background: #d4d4d4;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    height: 10px;
    position: relative;
    top: 4.5px;
    transform: translate(0%, -50%);
    transition: all 0.2s ease;
    width: 10px;
    z-index: 2;
}

.perps-balance-amount-slider::-moz-range-thumb {
    background: #d4d4d4;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    height: 10px;
    margin-top: -5.5px;
    position: relative;
    top: 4px;
    transition: all 0.2s ease;
    width: 10px;
    z-index: 13;
}

.perps-slider-percentage-popup {
    align-items: center;
    background-color: rgb(9, 9, 9);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0/20%);
    color: #ffffffcf;
    display: flex;
    font-size: 0.7rem;
    font-weight: 300;
    justify-content: center;
    max-width: 40px;
    min-width: 30px;
    opacity: 0;
    padding: 2px 4px;
    pointer-events: none;
    position: absolute;
    top: -14px;
    transform: translateX(-50%);
    transition: opacity 0.2s ease, visibility 0.2s ease;
    visibility: hidden;
    white-space: nowrap;
    z-index: 13;
    left: 0;
}

.perps-slider-percentage-popup.visible {
    opacity: 1;
    visibility: visible;
}

.perps-balance-slider-marks {
    color: #ffffff7b;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    padding: 0;
    position: relative;
    width: 101%;
    z-index: 1;
}

.perps-balance-slider-mark {
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.72rem;
    font-weight: 200;
    margin: 0 -4px;
    padding: 0 8px;
    position: relative;
    transition: color 0.2s ease;
}

.perps-balance-slider-mark::before {
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    width: 5px;
}

.perps-balance-slider-mark[data-percentage='0']::before,
.perps-balance-slider-mark[data-percentage='100']::before {
    display: none;
}

.perps-balance-slider-mark:hover {
    color: #ffffff93;
}

.perps-balance-slider-mark[data-active='false']:not(:first-child):not(:last-child)::before {
    background-color: rgb(6, 6, 6);
}


.perps-balance-slider-mark[data-active='false']:not(:first-child):not(:last-child)::before {
    background-color: rgb(6, 6, 6);
}

.perps-tpsl-section {
    margin: 12px;
}

.perps-tpsl-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.perps-tpsl-checkbox-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.perps-tpsl-checkbox {
    width: 13px;
    height: 13px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(170, 174, 207, 0.3);
    border-radius: 3px;
    background: transparent;
    position: relative;
    transition: all 0.2s ease;
    flex-shrink: 0;
    margin-right: 6px;
}

.perps-tpsl-checkbox:checked {
    border-color: #d8dcff;
}

.perps-tpsl-checkbox:checked::after {
    background-color: #d8dcff;
    border-radius: 1px;
    content: '';
    height: 8px;
    left: 1.5px;
    position: absolute;
    top: 1.5px;
    width: 8px;
}

.perps-tpsl-checkbox:checked::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0f0f12;
    font-size: 10px;
    font-weight: bold;
}

.perps-tpsl-label {
    font-size: 0.75rem;
    color: #ffffffbb;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.perps-est-liq-price {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: -0.1px;
}

.perps-tif-dropdown {
    position: relative;
}

.perps-tif-button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0px 8px 4px 8px;
    transition: all 0.2s ease;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.7rem;
}

.perps-tif-inner {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.perps-tif-button:hover {
    border-color: rgba(179, 184, 249, 0.3);
}

.perps-tif-label {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}

.perps-tif-value {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    min-width: 25px;
}

.perps-tif-arrow {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.6rem;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.perps-tif-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(9, 9, 9);
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 100;
    min-width: 50px;
    margin-top: 2px;
    overflow: hidden;
}

.perps-tif-option {
    padding: 3px 8px;
    cursor: pointer;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease;
}

.perps-tif-option:last-child {
    border-bottom: none;
}

.perps-tif-option:hover {
    background: rgba(179, 184, 249, 0.1);
    color: rgba(255, 255, 255, 1);
}

.perps-tpsl-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 8px;
}

.perps-tpsl-row {
    display: flex;
    align-items: center;
    gap: 6px;
}

.perps-tpsl-label-section {
    display: flex;
    align-items: center;
    border: 1.5px solid rgba(179, 184, 249, 0.07);
    border-radius: 4px;
    min-width: 60px;
    width: 100%;
    gap: 2px;
    padding: 1px 7px;
    padding-right: 0;
}

.perps-tpsl-row-label {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    letter-spacing: -0.2px;
    white-space: nowrap;
}

.perps-tpsl-input-section {
    display: flex;
    flex: 1;
    align-items: center;
    min-width: 50%;
    border: 1.5px solid rgba(179, 184, 249, 0.07);
    border-radius: 4px;
    padding: 1px 5px;
    padding-right: 0;

}

.perps-tpsl-price-input {
    flex: 1;
    background:none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.9);
    outline: none;
    transition: border-color 0.2s ease;
    width: 100%;
      direction: rtl;
}


.perps-tpsl-price-input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.perps-tpsl-percentage {
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 4px;
    width: 100%;
}

.perps-available-to-trade {
    align-items: center;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    margin-bottom: 2px;
    width: 100%;
}

.perps-current-position-container {
    font-weight: 300;
}

.value-container.positive {
    color: #50f08d;
}

.value-container.negative {
    color: rgb(235, 112, 112);
}

.perps-tpsl-percent-input {
    width: 60px;
    background:none;
    width: 100%;
    border-radius: 4px;
    padding: 4px 6px;
    padding-right: 0;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.9);
    outline: none;
    transition: border-color 0.2s ease;
    direction: rtl;
}

.perps-tpsl-percent-input:focus {
    border-color: rgba(179, 184, 249, 0.4);
}


.perps-trade-action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 6px 12px;
    border: none;
    font-size: 0.85rem;
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: -0.3px;
    border: none;
    border-radius: 4px;
    margin: 0 12px;
    margin-top: auto;
    margin-bottom: 15px;
    width: calc(100% - 26px);
    font-weight: 300;
}

.perps-trade-action-button.long {
    border: 1.5px solid rgba(67, 254, 154, 0.7);
    box-shadow: inset 0 0 6px 4px rgba(67, 254, 154, 0.2);
    color: rgb(67 254 154);
}

.perps-trade-action-button.short {
    border: 1.5px solid rgb(235, 112, 112, 0.5);
    box-shadow: inset 0 0 6px 4px rgb(235, 112, 112, 0.2);
    color: rgb(235, 112, 112);
}

.perps-trade-action-button.long:hover:not(:disabled) {
    box-shadow: inset 0 0 12px 4px rgba(67, 254, 154, 0.3);
}

.perps-trade-action-button.short:hover:not(:disabled) {
    box-shadow: inset 0 0 12px 4px rgb(235, 112, 112, 0.3);
}

.perps-trade-action-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.perps-button-spinner {
  animation: spin 1s linear infinite;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-top: 2px solid transparent;
  height: 16px;
  width: 16px;
}

.perps-trade-action-button.long .perps-button-spinner {
  animation: spin 1s linear infinite;
  border: 2px solid rgb(67 254 154);
  border-radius: 50%;
  border-top: 2px solid transparent;
  height: 16px;
  width: 16px;
}

.perps-trade-action-button.short .perps-button-spinner {
  animation: spin 1s linear infinite;
  border: 2px solid rgb(235, 112, 112);
  border-radius: 50%;
  border-top: 2px solid transparent;
  height: 16px;
  width: 16px;
}

.perps-trade-input::-webkit-outer-spin-button,
.perps-trade-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.perps-tif-button-arrow {
    height: 13px;
    opacity: 0.8;
    transition: transform.3s cubic-bezier(0.2, 0, 0.1, 1);
    width: 13px;
}

.perps-tif-button-arrow.open {
    transform: rotate(180deg);
}

.perps-amount-section {
    padding: 9px 13px 0 13px;
}

.perps-trade-input-wrapper {
    display: flex;
    border: 1.5px solid rgba(179, 184, 249, 0.12);
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 0.85rem;
    color: grey;
}

.perps-trade-input {
    background: none;
    color: white;
    text-align: right;
    width: 100%;
    padding-right: 5px;
    font-size: 0.85rem;
}

.perps-trade-input:focus {
    outline: none;
}

.perps-balance-slider-mark {
    color: #ffffff7b;
}


.perps-account-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.perps-account-section-title {
    font-size: 0.85rem;
    letter-spacing: -0.3px;
    margin-top: 8px;
    margin-bottom: 2px;
    color: #ffffffcf;
}

.perps-account-title {
    font-size: 0.75rem;
    letter-spacing: -0.2px;
    color: rgb(155, 155, 155);
}


.perps-account-subtitle {
    font-size: 0.75rem;
    letter-spacing: -0.2px;
    color: rgb(226, 233, 240)
}

.perps-account-subtitle.green {
    color: #50f08d
}

.perps-account-subtitle.red {
    color: rgb(235, 112, 112)
}

.perps-account-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px 0;
}


.perps-mid-button {
    color: #aaaecf;
    cursor: pointer;
}

.perps-info-rectangle {
    padding: 8px 13px;
    border-top: 1px solid rgba(179, 184, 249, 0.1);
}

.perps-trade-details-section {
    width: 100%;
    margin-top: auto;
}

.perps-bottom-section {
    position: relative;
    border-top: 1px solid rgba(179, 184, 249, 0.1);
    padding: 10px 15px 15px 15px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -10px 7px rgba(0, 0, 0, 0.7);
}

.perps-deposit-withdraw-section {
    display: flex;
    width: 100%;
    gap: 5px;
}

.perps-deposit-button {
    color: #d8dcff;
    border: 1px solid #d8dcff;
    font-size: 0.8rem;
    width: 100%;
    padding: 3px 0;
    letter-spacing: -0.3px;
    border-radius: 4px;
}

.perps-withdraw-button {
    color: #d8dcff;
    border: 1px solid #d8dcff;
    font-size: 0.8rem;
    width: 100%;
    padding: 3px 0;
    letter-spacing: -0.3px;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}


.perps-deposit-form,
.perps-withdraw-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.perps-deposit-input-wrapper,
.perps-withdraw-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 4px;
    background: transparent;
}

.perps-deposit-input,
.perps-withdraw-input {
    flex: 1;
    background: transparent;
    border: none;
    padding: 0 12px;
    color: #ededf5;
    font-size: 1.1rem;
    font-weight: 400;
    outline: none;
    height: 100%;
}

.perps-deposit-input::placeholder,
.perps-withdraw-input::placeholder {
    color: #ededf571;
    font-weight: 300;
}

.perps-deposit-token-badge,
.perps-withdraw-token-badge {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 8px 12px;
    color: #ffffff8b;
    font-size: 0.8rem;
    background: transparent;
    border-radius: 0;
    font-weight: 400;
}

.perps-deposit-balance,
.perps-withdraw-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    font-size: 0.75rem;
    color: #e0e8fd90;
    width: 100%;
    padding-left: 13px;
    padding-right: 5px;
}

.perps-input-bottom-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    margin-top: -5px;
}

.edgeX-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin-top: 8px;
    margin-left: 8px;
}

.perps-max-button {
    background: none;
    border: none;
    color: #afb7f5;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 4px;
    transition: color 0.2s ease;
}


.perps-deposit-info,
.perps-withdraw-info {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 8px;
    padding: 12px;
    margin-top: 8px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    font-size: 0.8rem;
}

.info-row:last-child {
    margin-bottom: 0;
}

.info-row span:first-child {
    color: #ffffff7b;
}

.info-row span:last-child {
    color: #ffffffcf;
    font-weight: 400;
}

.perps-confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,
            #aaaecf 0,
            #9a9ec7 25%,
            #8b8eb8 50%,
            #7f82ac 75%,
            #7f82a1 100%);
    border: none;
    border-radius: 20px;
    box-shadow:
        inset 0 1px 1px rgb(255 255 255/35%),
        inset 0 -1px 1px rgb(0 0 0/55%),
        0 2px 8px rgb(170 174 207/10%);
    color: #0f0f12;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    height: 32px;
    letter-spacing: -0.3px;
    min-height: 32px;
    overflow: hidden;
    transition:
        filter.3s ease,
        box-shadow.3s ease,
        color.3s ease,
        opacity.3s ease;
    width: 100%;
}

.perps-confirm-button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.perps-confirm-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.perps-confirm-button.withdraw {
    background: linear-gradient(135deg,
            #cf6b6b 0,
            #c75a5a 25%,
            #b84d4d 50%,
            #ac4040 75%,
            #a13434 100%);
}

.perps-confirm-button.withdraw:hover:not(:disabled) {
    filter: brightness(1.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.form-group label {
    font-size: 0.75rem;
    color: #ffffff7b;
    font-weight: 300;
    width: 100%;
}

.perps-deposit-input-wrapper:focus-within,
.perps-withdraw-input-wrapper:focus-within {
    background-color: rgba(170, 174, 207, 0.025);
}

.perps-deposit-icon {
    width: 18px;
    height: 18px;
}

.perps-deposit-token-badge span {
    color: white;
    font-size: 1rem;
}

.perps-switch-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgba(179, 184, 249, 0.1);
    padding: 5px;
    cursor: pointer;
}

.perps-switch-img {
    transform: rotate(45deg);
    width: 18px;
    height: 18px;
}

.perps-switch-img {
    transform: rotate(45deg);
    width: 18px;
    height: 18px;
}

.perps-loading-value {
    width: 60px;
    height: 14px;
}

.perps-loading-label {
    width: 40px;
    height: 12px;
    margin-bottom: 4px;
}

.perps-loading-input {
    width: 100%;
    height: 28px;
    margin: 4px 0;
}

.perps-loading-button {
    width: 30px;
    height: 12px;
}


.perps-wallet-icon {
    width: 14px;
    height: 14px;
}

.perps-balance-container {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 0.8rem;
    color: #ffffffcf;
}


.leverage-button {
    display: flex;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(86%) sepia(2%) saturate(3380%) hue-rotate(199deg) brightness(91%) contrast(133%);
}

.leverage-button-icon {
    width: 14px;
    height: 14px;
}

.perps-pro-button-wrapper {
    position: relative;
    outline: none;
}



.leverage-modal-content {
    background: rgb(9, 9, 9);
    border: 1px solid rgba(179, 184, 249, 0.15);
    border-radius: 6px;
    width: 90%;
    max-width: 440px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.leverage-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.leverage-modal-title {
    font-size: 1rem;
    color: #ffffffcf;
    margin: 0;
    letter-spacing: -0.3px;
}

.leverage-modal-body {
    padding: 0 20px 15px 20px;
}

.leverage-description {
    font-size: 0.8rem;
    color: #e1e1f19b;
    line-height: 1.2;
    margin: 0 0 4px 0;
    font-weight: 300;
    letter-spacing: -0.2px;
}

.leverage-slider-section {
    margin-bottom: 12px;
}

.leverage-slider-container {
    position: relative;
}

.leverage-slider-input {
    appearance: none;
    border-radius: 1px;
    cursor: pointer;
    height: 4px;
    margin: 0 4px;
    outline: 0;
    position: relative;
    width: calc(100% - 15px);
}

.leverage-slider-input::-webkit-slider-thumb {
    appearance: none;
    background: #d4d4d4;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    height: 10px;
    position: relative;
    top: 4.5px;
    transform: translate(0%, -50%);
    transition: all 0.2s ease;
    width: 10px;
    z-index: 2;
}

.leverage-slider-input::-moz-range-thumb {
    background: #d4d4d4;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    height: 10px;
    margin-top: -5.5px;
    position: relative;
    top: 4px;
    transition: all 0.2s ease;
    width: 10px;
    z-index: 13;
}

.leverage-value-popup {
    align-items: center;
    background-color: rgb(9, 9, 9);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0/20%);
    color: #ffffffcf;
    display: flex;
    font-size: 0.7rem;
    font-weight: 300;
    justify-content: center;
    max-width: 40px;
    min-width: 30px;
    opacity: 0;
    padding: 2px 4px;
    pointer-events: none;
    position: absolute;
    top: -14px;
    transform: translateX(-50%);
    transition: opacity 0.2s ease, visibility 0.2s ease;
    visibility: hidden;
    white-space: nowrap;
    z-index: 13;
    left: 0;
}

.leverage-value-popup.visible {
    opacity: 1;
    visibility: visible;
}

.leverage-marks {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    padding: 0 2px;
}

.leverage-mark {
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.72rem;
    font-weight: 200;
    margin: 0 -4px;
    padding: 0 8px;
    position: relative;
    transition: color 0.2s ease;
    color: #ffffff7b;
}

.leverage-mark::before {
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    top: -14px;
    transform: translateX(-50%);
    width: 5px;
    background-color: #aaaecf;
}

.leverage-mark:first-child::before,
.leverage-mark:last-child::before {
    display: none;
}

.leverage-mark[data-active='false']:not(:first-child):not(:last-child)::before {
    background-color: rgb(6, 6, 6);
}

.leverage-mark:hover {
    color: #ffffff93;
}

.leverage-display {
    gap: 8px;
    font-size: .9rem;
    color: #cecddf9b;
    margin-top: 4px;
}

.leverage-update-button {
    width: 100%;
    padding: 6px;
    background: linear-gradient(135deg,
            #aaaecf 0,
            #9a9ec7 25%,
            #8b8eb8 50%,
            #7f82ac 75%,
            #7f82a1 100%);
    border: none;
    border-radius: 20px;
    box-shadow:
        inset 0 1px 1px rgb(255 255 255/35%),
        inset 0 -1px 1px rgb(0 0 0/55%),
        0 2px 8px rgb(170 174 207/10%);
    color: black;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: -0.3px;
}

.leverage-update-button:hover {
   filter: brightness(1.1)
}

.leverage-update-button:active {
    transform: translateY(1px);
}

.perps-scale-start-end-container{
display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 8px;
}

.perps-scale-size-skew{
  display: flex;
  gap: 4px;
  margin-bottom: 6px;
}

.perps-tpsl-unit-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.perps-tpsl-unit-button {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.7rem;
    border-radius: 4px;
    background: transparent;
    min-width: 35px;
    justify-content: center;
    margin-left: -1px;
}

.perps-tpsl-unit-button:hover {
    border-color: rgba(179, 184, 249, 0.3);
}

.perps-tpsl-unit-value {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

.perps-tpsl-unit-arrow {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.6rem;
    transition: transform 0.2s ease;
    width: 13px;
    height: 13px;
    opacity: 0.8;
}

.perps-tpsl-unit-arrow.open {
    transform: rotate(180deg);
}

.perps-tpsl-unit-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(9, 9, 9);
    border: 1px solid rgba(179, 184, 249, 0.1);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 100;
    min-width: 30px;
    margin-top: 2px;
    overflow: hidden;
}

.perps-tpsl-unit-option {
    padding: 3px 8px;
    cursor: pointer;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease;
    text-align: center;
}

.perps-tpsl-unit-option:last-child {
    border-bottom: none;
}

.perps-tpsl-unit-option:hover {
    background: rgba(179, 184, 249, 0.1);
    color: rgba(255, 255, 255, 1);
}


.perps-size-unit-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.perps-size-unit-button {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.85rem;
    background: transparent;
    min-width: 50px;
    justify-content: center;
}

.perps-size-unit-button:hover {
    color: rgba(255, 255, 255, 1);
}

.perps-size-unit-value {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

.perps-size-unit-arrow {
    color: rgba(255, 255, 255, 0.6);
    transition: transform 0.2s ease;
    width: 16px;
    height: 16px;
    opacity: 0.8;
}

.perps-size-unit-arrow.open {
    transform: rotate(180deg);
}

.perps-size-unit-dropdown-menu {
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    background: rgb(9, 9, 9);
    border: 1px solid rgba(179, 184, 249, 0.15);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    z-index: 100;
    min-width: 50px;
    overflow: hidden;
    animation: dropdown-fade-in 0.2s ease-out forwards;
}

.perps-size-unit-option {
    padding: 2px 12px;
    cursor: pointer;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease;
    text-align: center;
}

.perps-size-unit-option:hover {
    background: rgba(179, 184, 249, 0.1);
    color: rgba(255, 255, 255, 1);
}