.order-item.phantom-order {
  cursor: default;
}

.order-item-wrapper.highlighted {
  background-color: rgb(255 255 255 / 5%);
}

.order-item-wrapper.highlighted:last-of-type {
  background-color: rgb(255 255 255 / 5%);
  bottom: -2px;
  top: 0;
}

.order-item {
  align-items: center;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: rgb(255 255 255 / 63.5%);
  cursor: pointer;
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
  user-select: none;
  z-index: 1;
  
}

.buyOrder.boundary {
  border-bottom: 1px dashed rgb(255 255 255 / 50%);
}

.sellOrder.boundary {
  border-top: 1px dashed rgb(255 255 255 / 50%);
}

.order-item.flash::after {
  animation: flash-effect 0.5s ease forwards;
  content: '';
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.order-item.flash::after,
.order-item.buyOrder.flash::after {
  background-color: rgb(0 255 0 / 25%);
}

.order-item.sellOrder.flash::after {
  background-color: rgb(255 0 0 / 25%);
}

.totalSizeBar {
  background: linear-gradient(225deg, rgb(255 255 255 / 0%),rgb(0 0 0 / 70%));
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  height: 100%;
  left: 0;
  opacity: 0.15;
  position: absolute;
  top: 0;
  z-index: 0;
  transition: width 0.5s ease;
  
}

.order-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 2;
  align-items: center;
}

.order-price {
  text-align: left;
  display: flex;
  align-items: center;
}

.order-size {
  text-align: center;
}

.total-size {
  text-align: right;
  
}

.order-price,
.order-size,
.total-size {
  flex: 1;
}

@keyframes flash-effect {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.user-order-dot {
  margin-left: 4px;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
}