.sidebar-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width:50px;
  align-items: flex-start;
  padding-top: 17px;
  z-index: 10;
  transition: width 0.3s ease;
  overflow: hidden;
  background-color: rgb(6,6,6);
}

.sidebar-nav-inner{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 4px;
  top: 5px;
  border-radius: 8px;
  bottom: 8px;
  align-items: flex-start;
  width:47px;
  padding-top: 12px;
  background: #0f0f12;
  transition: width 0.3s ease;
  overflow: hidden;
}

@media (max-width: 1020px) {
  .sidebar-nav {
    display: none;

  }
}

.sidebar-nav.expanded {
  width: 180px;
}

.sidebar-nav.expanded ~ .app-container.sidebar-adjusted {
  margin-left: 185px;
  width: calc(100% - 185px);
  transition: all 0.3s ease;
}
.sidebar-nav.expanded .sidebar-nav-inner {
  width: 176px;
  transition: all 0.3s ease;

}

.sidebar-logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
}

.sidebar-logo-text {
  font-family: Orbitron, sans-serif;
  display: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  margin-left: 3px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.sidebar-nav.expanded .sidebar-logo-text {
  display: block;
}

.sidebar-icon {
  width: 20px;
  height: 20px; 
  opacity: 0.5;
  margin-left: 8px;
  position: static; 
  filter: brightness(0) saturate(100%) invert(83%) sepia(11%) saturate(527%) hue-rotate(194deg) brightness(95%) contrast(92%);
  transition: all 0.3s ease;
}

.sidebar-svg-icon {
  margin-left: 8px;
  opacity: 0.5;
  position: static;
  transition: all 0.3s ease;
}

.sidebar-logo-image {
  height: 1.6rem;
  max-width: 100%;
}

.view-mode-button, 
.page-mode-button,
.sidebar-bottom-link,
.sidebar-toggle-button {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 35px;
  min-width: 35px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: #8c8c9a;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: visible;
  margin-left: 6px;
  margin-bottom: 5px;
  align-self: flex-start;
  text-decoration: none;

}

.sidebar-nav.expanded .view-mode-button,
.sidebar-nav.expanded .page-mode-button,
.sidebar-nav.expanded .sidebar-bottom-link,
.sidebar-nav.expanded .sidebar-toggle-button {
  width: 165px;
  padding-right: 12px;
  justify-content: flex-start;
  transition: all 0.3s ease;
}

.sidebar-nav .active {
  color: #aaaecf !important;
  background-color: rgba(121, 124, 177, 0.2) !important;
}

.sidebar-nav .active .sidebar-icon,
.sidebar-nav .active .sidebar-svg-icon {
  opacity: 0.9;
  filter: brightness(0) saturate(100%) invert(83%) sepia(11%) saturate(527%) hue-rotate(194deg) brightness(95%) contrast(92%);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  padding-top: 14px;
  max-height: calc(100% - 170px);
  overflow-y: auto;
}

.sidebar-bottom {
  position: absolute;
  backdrop-filter: blur(6px);
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  box-shadow: 0 -15px 4px 4px #0f0f12;
  border-radius: 8px;
}

.sidebar-bottom a {
  margin-bottom: 3px;
}

.view-mode-button:hover,
.page-mode-button:hover,
.sidebar-bottom-link:hover,
.sidebar-toggle-button:hover {
  background-color: rgba(202, 210, 249, 0.05);
}

.view-mode-button:hover .sidebar-icon,
.page-mode-button:hover .sidebar-icon,
.sidebar-bottom-link:hover .sidebar-icon,
.sidebar-toggle-button:hover .sidebar-svg-icon,
.sidebar-bottom-link:hover .sidebar-svg-icon {
  opacity: 0.8;
}

.sidebar-label {
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  color: #d8dbf5a0;
  opacity: 0;
  display: none;
}

.sidebar-nav.expanded .sidebar-label {
  display: block;
  opacity: 1;
}

.rotate-180 {
  transform: rotate(180deg);
}

.sidebar-toggle-button .sidebar-svg-icon {
  transition: transform 0.3s ease;
}

.sidebar-nav.expanded .sidebar-toggle-button .sidebar-svg-icon {
  transform: rotate(180deg);
}