.ref-modal-overlay {
  align-items: center;
  background-color: rgb(0 0 0 / 60%);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 101;
  animation: bgFadeIn 0.2s ease-out;
}

@keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-container {
  animation: fadeIn 0.2s ease-out;
  background-color: rgb(8, 8, 8);
  border: 1px solid rgba(179, 184, 249, 0.15);
  border-radius: 6px;
  box-sizing: content-box;
  max-width: 90vw;
  overflow: hidden;
  position: relative;
  width: 350px;
  z-index: 12;
}

.modal-header {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 25px 20px;
}

.modal-header h2,
.ref-popup-title {
  color: #ffffffc8;
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

.close-button-icon {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.close-button-icon:hover {
  opacity: 1;
}

.modal-close {
  align-items: center;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  height: 24px;
  justify-content: center;
  padding: 0;
  transition: color 0.2s;
  width: 24px;
}

.modal-close:hover {
  color: #fff;
}

.modal-input {
  background: #00000020;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 6px;
  color: #fff;
  font-size: 0.95rem;
  height: 34px;
  margin: 5px 2px;
  padding: 10px;
  width: calc(100% - 12px);
  letter-spacing: -0.3px;
}

.modal-input::-moz-placeholder{
  color:rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.modal-input::placeholder{
  color:rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.modal-input:focus {
  background: #00000050;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;


}

.input-error {
  color: #ef4444;
  font-size: 0.75rem;
  font-weight: 300;
  position: absolute;
  right: 1.2rem;
}

.referral-preview {
  color: #ffffffa4;
  font-size: 0.7rem;
  font-weight: 100;
  margin-top: 5px;
  padding: 0 16px;
}

.referral-preview span {
  color: #ffffffa4;
  word-break: break-all;
}

.ref-url {
  color: #aaaecf;
}

.ref-link-structure,
.customize-button {
  align-items: center;
  display: flex;
}

.customize-button {
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7f82a1 100%
  );
  border: none;
  border-radius: 20px;
  box-shadow:
    inset 0 1px 1px rgb(255 255 255/25%),
    inset 0 -1px 1px rgb(0 0 0/35%),
    0 2px 6px rgb(170 174 207/10%);
  color: #0f0f12;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  gap: 8px;
  height: 33px;
  justify-content: center;
  letter-spacing: -0.5px;
  margin: 16px;
  padding: 10px;
  transition: all 0.2s;
  width: calc(100% - 32px)
}

.customize-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.customize-button:disabled {
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7376a0 100%
  );
  box-shadow:
    inset 0 1px 1px rgb(255 255 255 / 15%),
    inset 0 -1px 1px rgb(0 0 0 / 15%),
    0 2px 8px rgb(170 174 207 / 20%);
  cursor: default;
  opacity: 0.4;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}