.copy-wrapper {
  cursor: pointer;
  display: inline-flex;
}

.copy-wrapper,.icon-container {
  align-items: center;
  position: relative;
}

.icon-container {
  display: flex;
  height: 11px;
  justify-content: center;
  width: 11px;
}

.copy-icon,
.check-icon {
  height: 11px;
  position: absolute;
  transition: opacity 0.3s ease;
  width: 11px;
}

.copy-icon:hover {
  opacity: 0.7;
}

.copy-icon {
  opacity: 1;
}

.copy-icon.hidden,.check-icon {
  opacity: 0;
}

.check-icon {
  pointer-events: none;
}

.check-icon.visible {
  opacity: 1;
}
