.app-header {
  align-items: flex-end;
  background: rgb(6, 6, 6);
  color: #fff;
  display: flex;
  flex: none;
  height: 57px;
  justify-content: space-between;
  left: 55px; 
  padding-right: 5px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  transition: left 0.3s ease;
  padding-bottom: 4px;
}

body.sidebar-expanded .app-header {
  left: 185px;
}

.nav-links {
  margin-left: 0.15rem;
  align-items: center;
  display: flex;
}

.left-header {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-width: 0;
}

.hamburger {
  background: none;
  border: 1.5px solid rgba(255, 255, 255, .07);
  border-radius: 5px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 34px;
  min-width: 34px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform.3s ease-in-out;
}

.extitle {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 500;
  margin-right: 6px;
  margin-left: 4px;
  text-decoration: none;
}

.hamburger-image {
  opacity: 0.5;
  width: 16px;
}

.crystal-logo {
  height: 1.6rem;
  max-width: 100%;
}

.crystal-name {
  font-family: Orbitron, sans-serif;
  font-size: 1.2rem;
  margin-left: 3px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.connect-button {
  align-items: center;
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7f82a1 100%
  );
  border: none;
  border-radius: 6px;
  box-shadow:
    inset 0 1px 1px rgb(255 255 255/35%),
    inset 0 -1px 1px rgb(0 0 0/55%),
    0 2px 8px rgb(170 174 207/10%);
  color: #0f0f12;
  cursor: pointer;
  display: flex;
  font-size: 0.775rem;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: -0.3px;
  text-decoration: none;
  transition: all.1s ease;
  min-width: 120px;
  z-index: 3;
  padding: 6px 12px;
}

.connect-button:hover {
  filter: brightness(1.1);
}

.transparent-button {
  background: none;
  border: none;
  border: 1.5px solid rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: 300;
  height: 34px;
  overflow: hidden;
  padding: 0 8px;
  transition: all.1s ease;
}

.transparent-button:active,
.transparent-button:hover {
  opacity: 0.8;
}

.transparent-button,
.connect-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.connect-content {
  gap: 2px;
}

.account-avatar {
  border-radius: 8px;
  height: 18px;
  width: 18px;
}

.wallet-icon-mobile {
  display: none;
  height: 20px;
  object-fit: contain;
  opacity: 0.7;
  width: 20px;
}

.app-settings-button {
  align-items: center;
  background: none;
  border: 1.5px solid rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 34px;
  justify-content: center;
  overflow: hidden;
  transition: all.2s cubic-bezier(0.2, 0, 0.1, 1);
  width: 34px;
}

.app-settings-button:hover {
  opacity: 0.8;
}

.history-button {
  align-items: center;
  background: none;
  border: 1.5px solid rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 34px;
  justify-content: center;
  overflow: hidden;
  transition: all.2s cubic-bezier(0.2, 0, 0.1, 1);
  width: 34px;
}

.history-button:hover {
  opacity: 0.8;
}

.tx-notification-badge {
  align-items: center;
  background: #aaaecf;
  border: none;
  border-radius: 5px;
  box-shadow:
    inset 0 1px 1px rgb(255 255 255/35%),
    inset 0 -1px 1px rgb(0 0 0/45%),
    0 2px 6px rgb(170 174 207/10%);  border: none;
  border-radius: 50%;
  color: rgb(15, 15, 18);
  display: flex;
  font-size: 0.52rem;
  letter-spacing: -0.3px;
  font-weight: 1000;
  height: 15px;
  justify-content: center;
  position: absolute;
  width: 15px;
  margin-left: 26px;
  margin-bottom: 26px;
  line-height: 1;
}

.search-button {
  align-items: center;
  background: none;
  border: 1.5px solid rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 0.83rem;
  padding: 0 8px 0 7px;
  height: 34px;
  gap: 6px;
  justify-content: center;
  transition: all.2s cubic-bezier(0.2, 0, 0.1, 1);
}

.search-button:active,
.search-button:hover {
  opacity: 0.8;
}

.search-backslash {
  background-color: #3131367a;
  border-radius: 3px;
  color: #aaacb1;
  font-size: 0.85rem;
  padding: 0 5px;
}

.history-icon {
  height: 23px;
  opacity: 0.5;
  width: 23px;
}

.other-settings-image {
  display: none;
  height: 23px;
  opacity: 0;
  width: 23px;
}

.other-globe-image {
  display: none;
  height: 18px;
  opacity: 0;
  width: 18px;
}

.other-settings-image.visible,
.other-globe-image.visible {
  display: block;
  opacity: 0.5;
}

.right-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 6px;
  max-height: 47px;
  min-height: 47px;
  padding-right: 10px;
}

.right-header-trade{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 6px;
  max-height: 47px;
  min-height: 47px;
  background-color: #0f0f12;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 10px;
}

@media(max-width:1020px){
  .right-header-trade{
    background-color: transparent;
  }
}

@media(min-width: 1920px){
  .right-header {
    margin-right: 0px;
  }
}

@media(max-width: 600px){
  .right-header {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media(max-width: 550px){
  .crystal-name {
    display: none;
  }
}

.arrow-icon {
  margin-top: 1px;
  opacity: 0.9;
  transform: rotate(180deg);
}

.wallet-icon {
  height: 16px;
  margin-right: 4px;
  width: 16px;
}

.transparent-button-container,
.left-header,
.extitle,
.right-header,
.search-container,
.search-market-pair-section {
  align-items: center;
  display: flex;
}

.extitle-logo{
  height: 1.6rem;
  max-width: 100%;
}

.mobile-left-header{
  display: none;
}

@media(max-width:1020px){
  .hamburger {
    display: flex;
    order: -1;
  }
  .mobile-left-header{
    display: flex;
    margin-left: 5px;
  }
  .left-header{
    position: absolute;
    top: 55px;
  }
  .app-header{
    align-items: center;
    left: 5px;
    padding: 0px;
  }
}