.layout-toggle-container {
  align-items: center;
  border-right: 1.5px solid #1f1f24;
  display: flex;
  gap: 4px;
  height: 22px;
  justify-content: right;
  padding-right: 8px;
  width: 90px;
}

.layout-toggle-button {
  background: none;
  border: none;
  border-radius: 3px;
  color: #9ca3af;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  padding: 0px 4px;
  transition: all 0.2s ease;
}

.layout-toggle-button:hover {
  color: #d1d5db;
}

.layout-toggle-button.active {
  background: rgba(255, 255, 255, 0.9);
  color: rgb(4 4 4);
  font-weight: 1000;
}
