.cancel-button {
  align-items: center;
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7f82a1 100%
  );
  border: none;
  border-radius: 5px;
  box-shadow:
    inset 0 1px 1px rgb(255 255 255/55%),
    inset 0 -1px 1px rgb(0 0 0/65%),
    0 2px 8px rgb(170 174 207/10%);
  color: rgb(0 0 0);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.7rem;
  font-weight: 500;
  gap: 6px;
  justify-content: center;
  padding: 4px 23px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  min-width: 80px;
  max-width: 80px;
}

.cancel-button:active {
  box-shadow:   
  inset 0 1px 1px rgb(255 255 255/25%),
  inset 0 -1px 1px rgb(0 0 0/35%),
  0 2px 8px rgb(170 174 207/5%);
}

.cancel-button:hover {
  opacity: 0.8;
}

.cancel-button.signing {
  cursor: not-allowed;
  opacity: 0.7;
}

.cancel-button-content {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  height: 1.05rem;
}

.cancel-button-loading-spinner {
  animation: spin 1s linear infinite;
  border: 2px solid #0f0f12;
  border-radius: 50%;
  border-top-color: #0f0f1230;
  height: 14px;
  width: 14px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}