@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(6, 6, 6);
  color: #fff;
  font-family: 'Funnel Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  user-select: none;
  letter-spacing: -0.1px;
}

::placeholder{
  color: #ededf571 !important;
  font-weight: 300 !important;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  src: url('/src/assets/Orbitron.ttf') format('truetype');
}

@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  src: url('/src/assets/FunnelDisplay.ttf') format('truetype');
}
