.portfolio-header {
  align-items: center;
  background: #0f0f12;
  color: #ffffff70;
  cursor: pointer;
  display: grid;
  font-size: 0.85rem;
  grid-template-columns:
    minmax(140px, 1.2fr) minmax(120px, 1.1fr) minmax(80px, 0.7fr)
    minmax(150px, 0.4fr);
  height: 32px;
  min-height: 32px; 
  min-width: 540px;
  padding: 1px 0 0 0;
  position: sticky;
  top: 0;
  user-select: none;
  z-index: 2;
}

.portfolio-header > * {
  position: relative;
  z-index: 1;
}