.swap-icon {
  cursor: pointer;
  font-size: 0.75rem;
  color: #dadee49c;
  letter-spacing: -0.3px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.port-swap-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(86%) sepia(21%) saturate(188%) hue-rotate(181deg) brightness(93%) contrast(79%);
}