.highlight-popup {
  background: rgb(6,6,6);
  border: 1px solid rgba(179, 184, 249, 0.15);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.7rem;
  isolation: isolate;
  min-width: 140px;
  padding: 7px 11px;
  pointer-events: none;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
  z-index: 1000;
  letter-spacing: -0.2px;
}
