.network-selector {
  align-items: center;
  display: flex;
  position: relative;
}

.network-selector-button {
  align-items: center;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(179, 184, 249, 0.15);
  border-radius: 6px;
}

@media(max-width: 360px){
  .network-selector-button{
    display: none;
  }
}

.network-selector-button:active,
.network-selector-button:hover {
  opacity: 0.8;
}

.network-active-logo {
  height: 19px;
  opacity: 1;
  transition: opacity 0.2s ease;
  width: 19px;
}

.network-dropdown {
  animation: dropdownSlide 0.2s cubic-bezier(0.2, 0, 0.1, 1);
  background-color: rgb(9, 9, 9);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border: 1px solid rgba(179, 184, 249, 0.1);
  height: auto;
  left: 0;
  min-width: 160px;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 5px);
  z-index: 100;
}

@keyframes dropdownSlide {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.network-label {
  color: rgb(255 255 255 / 40%);
  font-size: 0.7rem;
  font-weight: 450;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
}

.network-option {
  align-items: center;
  color: rgb(255 255 255 / 70%);
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  padding: 8px 0px 8px 12px;
  position: relative;
  transition: all 0.2s ease;
}

.network-option.selected {
  background: linear-gradient(
    90deg,
    rgb(170 174 207 / 5%) 0%,
    rgb(170 174 207 / 2%) 100%
  );
  color: #d7d7d7;
  font-weight: 400;
}


.network-option.selected::before {
  background: #aaaecf;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 2px;
}

.network-option-logo {
  border-radius: 50%;
  height: 22px;
  margin-right: 7px;
  width: 22px;
}
