.portfolio-row {
  align-items: center;
  color: #ffffffca;
  display: grid;
  grid-template-columns:
    minmax(120px, 1.2fr) minmax(80px, 1.1fr) minmax(85px, 0.7fr)
    minmax(85px, 0.4fr);
  justify-content: flex-start;
  border-radius: 4px;
  min-width: 410px;
  text-align: left;
  user-select: none;
}

.portfolio-row:hover {
  background: #ffffff04;
}

.asset-icon {
  border-radius: 50%;
  height: 27px;
  margin-right: 7px;
  width: 27px;
}

.asset-details {
  display: flex;
  flex-direction: column;
}

.asset-ticker {
  color: #ffffffca;
  display: flex;
  font-size: 0.85rem;
  gap: 3px;
  margin-bottom: -4px;
  font-weight: 450;
}

.asset-name {
  color: rgb(143, 144, 150);
  font-size: 0.75rem;
  line-height: 1.3;
  font-weight: 400;
}

.amount-details,
.price-details {
  display: flex;
  flex-direction: column;
}

.usd-asset-amount {
  color: #ffffffca;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: -3px;
}

.asset-amount {
  color: rgb(143, 144, 150);
  font-size: 0.75rem;
  margin: 0;
  text-wrap: nowrap;
  font-weight: 400;
}

.port-token-price {
  color: #ffffffca;
  font-size: 0.8rem;
  font-weight: 300;
}

.action-icons {
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: 4px;
}

/* shared */

.icon-container {
  align-items: center;
  cursor: pointer;
  overflow: visible;
  position: relative;
}

.asset-price-change {
  font-size: 0.75rem;
  margin-top: -2px;
}

.asset-price-change.positive {
  color: rgb(67, 254, 154);
}

.asset-price-change.negative {
  color: rgb(235, 112, 112);
}

