.metric-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.metric-label {
  color: #a0a0a0;
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: -2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.metric-label,
.metric-skeleton {
  overflow: hidden;
}

.metric-skeleton {
  background: #2d2d3b;
  border-radius: 4px;
  height: 11px;
  margin-bottom: 5px;
  margin-top: 4px;
  position: relative;
  width: 90%;
}

.metric-skeleton::after {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 5%) 20%,
    rgb(255 255 255 / 10%) 60%,
    rgb(255 255 255 / 0%)
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.metric-value {
  font-size: 0.8rem;
  font-weight: 350;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.output-loading {
  opacity: 0.5;
  overflow: hidden;
  position: relative;
}

.output-loading::after {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 5%) 20%,
    rgb(255 255 255 / 10%) 60%,
    rgb(255 255 255 / 0%)
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}